<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body style="font-family: Arial, Helvetica, sans-serif;">
<header style="background: #089ac4;padding:5px 10px;display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;">
    <h1 style="color:white;">Server Error</h1>
    <a class="nav-link text-white active "  style="font-size: 26px;" href="/">Go Back <i class="fas fa-chevron-right"></i></a>
</header>
<main>
    <div style="display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;">
        <p class="error-page-message">Whoops! It seems this page is not reachable at the moment.</p>
        <hr>

        <img style = "width:40%;" th:src="@{/images/taco.gif}" alt="error gif">
    </div>
    </div>
</main>
<footer class="footer py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>

