<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
    <script>
        function vote() {
            document.getElementById("displayPoints").style.display = "inline";
        }
    </script>
</head>
<body>
<header>
    <th:block th:include="~{/fragments/logheader}"></th:block>
</header>
<main>
    <div th:if="${noEvents}"><p style="padding-left: 655px;padding-top: 50px;">There are no existing events yet.</p>
    </div>

    <div class="container bg-blur rounded mt-5 ">
        <div class="postBoxClass" th:each="e : ${allEvents}" th:object="${e}">
            <a th:href="@{/events/event/(id = ${e.id})}">
                <div>
                    <b><h4 style="padding-top: 5px;" th:text="*{name}"></h4></b>
                    <hr style="width: 30%;margin-top: -5px;">
                    <p th:text="|Date: ${#temporals.format(e.getDateTime(), 'yyyy-MM-dd HH:mm:ss')}|"></p>
                    <img style="width: 30%;" th:src="@{/images/eventPic.png}" alt="eventPic">
                    <a style="padding-left:-400px;display: inline;"
                       th:href="@{/users/profile/(id = *{getCommitter().getId()})}"
                       th:text="|Posted by: *{getCommitter().getNickname()}|"></a>
                    <p th:text="|Participants : ${e.getParticipants().size()}|"></p>
                </div>
            </a>
        </div>
    </div>

</main>
<footer class="footer py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
