<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec='http://www.thymeleaf.org/extras/spring-security'>
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{/fragments/logheader}"></th:block>
</header>
<main>
    <div class="container bg-blur rounded mt-5 " th:object="${user}">
        <h1 th:text="|Hello, *{getNickname()}! How are you today?|"></h1>
        <button class="button"><a class="nav-link text-black active h5" href="/posts/add">Commit!</a></button>
        <button class="button"><a class="nav-link text-black active h5" th:href="@{/users/profile/(id = *{getId()})}">View
            Profile</a></button>
        <p class="h4">Post, comment, view other posts and have fun in our site.</p>
    </div>

    <div class="container bg-blur rounded mt-5 ">
        <div class="postBoxClass" th:each="p : ${allPosts}">

            <b><h4 style="padding-top: 5px;" th:text="${p.title}"></h4></b>
            <hr style="width: 30%;margin-top: -5px;">
            <p class="postText" th:text="${p.text}"></p>
            <a style="position:absolute;left:10px;bottom:10px;display: inline;"
               th:href="@{/users/profile/(id = ${p.committer.id})}"
               th:text="|Posted by: ${p.committer.nickname}|"></a>


            <a th:href="@{/posts/voteUp/(id = ${p.id})}">
                <button th:text="|Points: ${p.points}|" style="display: inline;position:absolute;right:10px;bottom:10px;"><i
                        class="far fa-thumbs-up"></i></button>
            </a>

        </div>
    </div>

</main>
<footer class="footer py-2">
    <th:block th:include="~{/fragments/footer}"></th:block>
</footer>
</body>
</html>
