<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/head}"></th:block>
</head>
<body>
    <header>
        <th:block th:include="~{/fragments/header}"></th:block>
    </header>

<main>

    <div class="container bg-blur rounded mt-5 ">
        <form th:action="@{/users/register}" th:method="POST" th:object="${userRegisterBindModel}">
            <div class="container">
                <h1>Register</h1>
                <p>Please fill in this form to create an account.</p>
                <hr>

                <label style="margin-left: -4px" for="nickname"><b>Nickname :</b></label>
                <input th:field="*{nickname}" th:errorclass="bg-danger"  type="text" placeholder="Enter Nickname" name="nickname" id="nickname" required>
                <small th:each="e : ${#fields.errors('nickname')}" th:text="${e}" class="text-danger">Nickname incorrect!</small>
                <small th:if="${nickTaken}"  th:text="${'This nickname is taken!'}" class="text-danger">Nickname incorrect!</small>
                <br>

                <label style="margin-left: 35px" for="email"><b >Email :</b></label>
                <input th:field="*{email}" th:errorclass="bg-danger"  type="text" placeholder="Enter Email" name="email" id="email" required>
                <small th:each="e : ${#fields.errors('email')}" th:text="${e}" class="text-danger">Email incorrect!</small>
                <small th:if="${emailTaken}"  th:text="${'This email is already used!'}" class="text-danger">Nickname incorrect!</small>
                <br>

                <label for="password"><b>Password :</b></label>
                <input th:field="*{password}" th:errorclass="bg-danger" type="password" placeholder="Enter Password" name="password" id="password" required>
                <small th:each="e : ${#fields.errors('password')}" th:text="${e}" class="text-danger">Password incorrect!</small>
                <br>

                <label style="margin-left: -69px" for="repeatPassword"><b style="padding: -20px">Repeat Password :</b></label>
                <input type="password" placeholder="Repeat Password" name="repeatPassword" id="repeatPassword" required>
                <small th:if="${pNoMatch}" th:text="${'Passwords do not match!'}" class="text-danger">Password error
                    message</small>
                <br>

                <button type="submit" class="button">Register</button>
            </div>

            <div class="container signin">
                <p>Already have an account? <a href="/users/login">Sign in</a>.</p>
            </div>
        </form>
    </div>

</main>
    <footer class="footer py-2">
        <th:block th:include="~{/fragments/footer}"></th:block>
    </footer>
</body>
</html>